

@font-face {
    font-family: Matrix;
    src: url("Lunar Escape.otf") format("opentype");
}


body {
    background-color: rgb(255, 219, 172);
    margin: 0;
 /* Added 'margin: 0;' to fill in space of header class */
}

.header {
    font-family: 'Matrix';
    color: blue;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px 20px; 
}

.left-container, .right-container {
    display: flex;
    align-items: center;
}

.right-container > div > ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.right-container > div > ul > div {
    background-color: white;
    border: 6px outset rgba(0, 0, 255, 0.788);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 12px;
}

#donate {
    font-weight: bolder;
    border: 8px double black;
    border-radius: 40%;
    background-color: rgb(255, 219, 172);
}


#broncode {
    width: 300px;
    mix-blend-mode: multiply;
}


